<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Error</title>
</head>
<body>
    <div class="auth-container">
        <h1>{{.StatusCode}}</h1>
        <p>{{.ErrorMessage}}</p>

        {{if .IsLoggedIn}}
        <a href="/post" class="back-link">← Back to Postpage</a>
        {{else}}
        <a href="/" class="back-link">← Back to Homepage</a>
        {{end}}
    </div>
</body>
</html>